workflows/ai-content-pipeline.json
{
  "meta": {
    "instanceId": "n8n-demo-automation"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "content": "=// 🤖 AI Content Generator\nconst topics = [\n  'Automation Revolution: How N8N is Changing Business',\n  '5 Workflow Patterns Every Developer Should Know',\n  'Building AI-Powered Automation Pipelines',\n  'From Manual to Magical: Our Automation Journey'\n];\n\nconst contentTypes = ['blog', 'social', 'email', 'newsletter'];\nconst randomTopic = topics[Math.floor(Math.random() * topics.length)];\nconst randomType = contentTypes[Math.floor(Math.random() * contentTypes.length)];\n\n// Generate content based on type\nlet generatedContent = '';\nlet wordCount = 0;\n\nswitch(randomType) {\n  case 'blog':\n    generatedContent = `# ${randomTopic}\n\nIn today's fast-paced business world, automation has become not just a luxury, but a necessity. Our latest insights show that companies implementing workflow automation see an average of 30% increase in productivity.\n\n## Key Benefits:\n- Reduced manual errors\n- Faster processing times \n- Better resource allocation\n- Improved team satisfaction\n\n*Generated by AI Content Pipeline*`;\n    wordCount = 85;\n    break;\n  case 'social':\n    generatedContent = `🚀 ${randomTopic.substring(0, 60)}...\\n\\nDiscover how automation is transforming the way we work! \\n\\n#Automation #Productivity #Innovation #TechTrends`;\n    wordCount = 25;\n    break;\n  case 'email':\n    generatedContent = `Subject: ${randomTopic}\\n\\nHi there!\\n\\nI hope this email finds you well. Today I wanted to share some exciting insights about ${randomTopic.toLowerCase()}.\\n\\nOur automation tools have helped hundreds of teams streamline their workflows and boost productivity.\\n\\nBest regards,\\nThe Automation Team`;\n    wordCount = 45;\n    break;\n  case 'newsletter':\n    generatedContent = `📰 Weekly Automation Digest\\n\\n🎯 Featured: ${randomTopic}\\n\\nThis week's highlights:\\n• New automation templates released\\n• Community spotlight: Success stories\\n• Tips & tricks from power users\\n\\nStay automated! 🤖`;\n    wordCount = 35;\n    break;\n}\n\nreturn {\n  json: {\n    topic: randomTopic,\n    contentType: randomType,\n    content: generatedContent,\n    wordCount: wordCount,\n    generatedAt: new Date().toISOString(),\n    status: 'generated',\n    readingTime: Math.ceil(wordCount / 200) + ' min',\n    hashtags: '#Automation #AI #Productivity #N8N'\n  }\n};",
        "options": {}
      },
      "id": "ai-content-generator",
      "name": "AI Content Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "content": "=// 📊 Content Analytics & Distribution\nconst content = $json;\n\n// Analyze content\nconst sentiment = content.content.includes('exciting') || content.content.includes('amazing') ? 'positive' : 'neutral';\nconst urgency = content.topic.includes('Revolution') || content.topic.includes('Trends') ? 'high' : 'medium';\n\n// Distribution strategy\nlet distribution = [];\n\nswitch(content.contentType) {\n  case 'blog':\n    distribution = ['website', 'linkedin', 'newsletter'];\n    break;\n  case 'social':\n    distribution = ['twitter', 'facebook', 'linkedin', 'instagram'];\n    break;\n  case 'email':\n    distribution = ['email_campaign', 'crm_followup'];\n    break;\n  case 'newsletter':\n    distribution = ['mailchimp', 'subscribers', 'archive'];\n    break;\n}\n\n// Performance prediction\nconst engagementScore = {\n  'blog': 75,\n  'social': 85, \n  'email': 65,\n  'newsletter': 70\n}[content.contentType];\n\nreturn {\n  json: {\n    ...content,\n    analytics: {\n      sentiment: sentiment,\n      urgency: urgency,\n      engagementScore: engagementScore,\n      predictedReach: Math.floor(500 + (engagementScore * 10)),\n      seoScore: Math.floor(60 + Math.random() * 30)\n    },\n    distribution: {\n      channels: distribution,\n      scheduledFor: new Date(Date.now() + 30 * 60 * 1000).toISOString(), // 30 minutes from now\n      priority: urgency,\n      status: 'scheduled'\n    },\n    processedAt: new Date().toISOString()\n  }\n};",
        "options": {}
      },
      "id": "content-analytics",
      "name": "Content Analytics & Distribution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "AI Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Generator": {
      "main": [
        [
          {
            "node": "Content Analytics & Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "001",
  "id": "ai-content-pipeline",
  "name": "🤖 AI Content Pipeline"
}