workflows/email-marketing-agent.json
{
  "name": "Email Marketing Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-marketing-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "email-webhook-001",
      "name": "Email Marketing Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "email-marketing-agent"
    },
    {
      "parameters": {
        "functionCode": "// Process email marketing request\nconst requestData = $json.body || $json;\n\n// Validate required fields\nif (!requestData.email_type && !requestData.recipient_data) {\n  throw new Error('Missing email_type or recipient_data');\n}\n\n// Configure email campaign\nconst emailRequest = {\n  email_type: requestData.email_type || 'newsletter',\n  recipient_data: requestData.recipient_data || {},\n  personalization_data: requestData.personalization_data || {},\n  send_time: requestData.send_time || 'optimal',\n  content_source: requestData.content_source || '',\n  template_id: requestData.template_id || 'default',\n  user_id: requestData.user_id || 'system',\n  processing_id: `email_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  timestamp: new Date().toISOString()\n};\n\n// Determine campaign configuration based on email type\nswitch (emailRequest.email_type) {\n  case 'welcome':\n    emailRequest.template_config = {\n      subject_template: 'Welcome to {{ company_name }}, {{ first_name }}!',\n      personalization_fields: ['first_name', 'company_name'],\n      call_to_action: 'Get Started',\n      follow_up_sequence: 'onboarding'\n    };\n    break;\n    \n  case 'nurture':\n    emailRequest.template_config = {\n      subject_template: '{{ first_name }}, here\\'s something you might find interesting',\n      personalization_fields: ['first_name', 'interest_category'],\n      call_to_action: 'Learn More',\n      follow_up_sequence: 'lead_nurture'\n    };\n    break;\n    \n  case 'newsletter':\n    emailRequest.template_config = {\n      subject_template: 'Your weekly {{ category }} update',\n      personalization_fields: ['category', 'last_interaction'],\n      call_to_action: 'Read Full Article',\n      follow_up_sequence: 'engagement'\n    };\n    break;\n    \n  case 'promotion':\n    emailRequest.template_config = {\n      subject_template: 'Exclusive offer for {{ first_name }} - {{ discount }}% off!',\n      personalization_fields: ['first_name', 'discount', 'product_interest'],\n      call_to_action: 'Claim Offer',\n      follow_up_sequence: 'sales'\n    };\n    break;\n    \n  default:\n    emailRequest.template_config = {\n      subject_template: 'Update from {{ company_name }}',\n      personalization_fields: ['company_name'],\n      call_to_action: 'Learn More',\n      follow_up_sequence: 'general'\n    };\n}\n\nreturn emailRequest;"
      },
      "id": "email-process-001",
      "name": "Process Email Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert email marketing copywriter who creates compelling, personalized email campaigns that drive engagement and conversions. Create emails that feel personal and valuable to recipients."
            },
            {
              "role": "user",
              "content": "Create a {{ $json.email_type }} email campaign with the following details:\n\nEmail Type: {{ $json.email_type }}\nRecipient: {{ JSON.stringify($json.recipient_data) }}\nPersonalization: {{ JSON.stringify($json.personalization_data) }}\nContent Source: {{ $json.content_source }}\n\nTemplate Configuration:\n{{ JSON.stringify($json.template_config) }}\n\nCreate:\n1. 3 compelling subject line variations for A/B testing\n2. Personalized email content (HTML format)\n3. Plain text version\n4. Optimal send time recommendation\n5. Expected open rate prediction\n\nMake the content:\n- Highly personalized using provided data\n- Mobile-friendly and scannable\n- Include clear call-to-action\n- Professional but conversational tone\n- Compliance with email marketing best practices\n\nReturn as structured JSON with all components."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "email-ai-001",
      "name": "Generate Email Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-email-gen",
          "name": "OpenAI Email Generation"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Process AI-generated email content\nconst aiResponse = $json.response || $json.message?.content || $json;\nconst originalRequest = $('Process Email Request').first().json;\n\nlet emailContent = {};\n\ntry {\n  // Try to parse JSON response\n  emailContent = JSON.parse(aiResponse);\n} catch (error) {\n  // Fallback: extract components from text\n  const lines = aiResponse.split('\\n');\n  \n  emailContent = {\n    subject_lines: [\n      lines.find(line => line.includes('Subject 1:'))?.replace('Subject 1:', '').trim() || 'Your Update',\n      lines.find(line => line.includes('Subject 2:'))?.replace('Subject 2:', '').trim() || 'Important News',\n      lines.find(line => line.includes('Subject 3:'))?.replace('Subject 3:', '').trim() || 'Don\\'t Miss This'\n    ],\n    html_content: aiResponse.includes('<html>') ? aiResponse : `<html><body>${aiResponse.replace(/\\n/g, '<br>')}</body></html>`,\n    text_content: aiResponse.replace(/<[^>]*>/g, ''),\n    optimal_send_time: '09:00',\n    predicted_open_rate: 25\n  };\n}\n\n// Apply personalization\nconst personalizeContent = (content, data) => {\n  let personalized = content;\n  Object.keys(data).forEach(key => {\n    const placeholder = new RegExp(`{{\\\\s*${key}\\\\s*}}`, 'gi');\n    personalized = personalized.replace(placeholder, data[key]);\n  });\n  return personalized;\n};\n\n// Apply personalization to all content\nconst personalizedEmail = {\n  processing_id: originalRequest.processing_id,\n  email_type: originalRequest.email_type,\n  recipient_email: originalRequest.recipient_data.email,\n  recipient_name: originalRequest.recipient_data.first_name || 'Valued Customer',\n  subject_lines: emailContent.subject_lines.map(subject => \n    personalizeContent(subject, {\n      ...originalRequest.recipient_data,\n      ...originalRequest.personalization_data,\n      company_name: 'Long Sang Automation'\n    })\n  ),\n  html_content: personalizeContent(emailContent.html_content, {\n    ...originalRequest.recipient_data,\n    ...originalRequest.personalization_data,\n    company_name: 'Long Sang Automation',\n    unsubscribe_link: `https://longsang.dev/unsubscribe?id=${originalRequest.processing_id}`\n  }),\n  text_content: personalizeContent(emailContent.text_content, {\n    ...originalRequest.recipient_data,\n    ...originalRequest.personalization_data,\n    company_name: 'Long Sang Automation'\n  }),\n  optimal_send_time: emailContent.optimal_send_time || '09:00',\n  predicted_open_rate: emailContent.predicted_open_rate || 25,\n  created_at: new Date().toISOString(),\n  status: 'ready',\n  template_id: originalRequest.template_id,\n  follow_up_sequence: originalRequest.template_config.follow_up_sequence\n};\n\n// Select best subject line (first one for now, could be improved with ML)\npersonalizedEmail.selected_subject = personalizedEmail.subject_lines[0];\n\nreturn personalizedEmail;"
      },
      "id": "email-process-002",
      "name": "Process Email Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "email_campaigns",
        "columns": {
          "values": {
            "id": "={{ $json.processing_id }}",
            "email_type": "={{ $json.email_type }}",
            "recipient_email": "={{ $json.recipient_email }}",
            "recipient_name": "={{ $json.recipient_name }}",
            "subject_line": "={{ $json.selected_subject }}",
            "html_content": "={{ $json.html_content }}",
            "text_content": "={{ $json.text_content }}",
            "send_time": "={{ $json.optimal_send_time }}",
            "predicted_open_rate": "={{ $json.predicted_open_rate }}",
            "status": "scheduled",
            "created_at": "={{ $json.created_at }}",
            "created_by": "email-marketing-agent"
          }
        }
      },
      "id": "email-store-001",
      "name": "Store Email Campaign",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-main",
          "name": "Supabase Main Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.send_time }}",
              "operation": "equals",
              "value2": "immediate"
            }
          ]
        }
      },
      "id": "email-timing-001",
      "name": "Send Immediately?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@longsang.dev",
        "toEmail": "={{ $json.recipient_email }}",
        "subject": "={{ $json.selected_subject }}",
        "emailType": "html",
        "message": "={{ $json.html_content }}",
        "additionalFields": {
          "replyTo": "hello@longsang.dev"
        }
      },
      "id": "email-send-001",
      "name": "Send Email Now",
      "type": "n8n-nodes-base.resend",
      "typeVersion": 1,
      "position": [1560, 200],
      "credentials": {
        "resendApi": {
          "id": "resend-main",
          "name": "Resend Email Service"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 {{ $json.optimal_send_time.split(':')[1] }} {{ $json.optimal_send_time.split(':')[0] }} * * *"
            }
          ]
        }
      },
      "id": "email-schedule-001",
      "name": "Schedule Email",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "functionCode": "// A/B Test subject lines\nconst emailData = $('Process Email Content').first().json;\nconst campaignData = $('Store Email Campaign').first().json;\n\n// Create A/B test variants\nconst variants = emailData.subject_lines.map((subject, index) => ({\n  variant_id: `${emailData.processing_id}_variant_${index + 1}`,\n  subject_line: subject,\n  variant_name: `Subject Variant ${index + 1}`,\n  test_group: `group_${String.fromCharCode(65 + index)}`, // A, B, C\n  recipient_percentage: index === 0 ? 50 : (index === 1 ? 30 : 20) // 50%, 30%, 20%\n}));\n\n// Setup A/B test configuration\nconst abTestConfig = {\n  campaign_id: emailData.processing_id,\n  test_type: 'subject_line',\n  variants: variants,\n  test_duration: '24_hours',\n  winner_metric: 'open_rate',\n  sample_size: 100,\n  confidence_level: 95,\n  created_at: new Date().toISOString(),\n  status: 'active'\n};\n\nreturn {\n  ...campaignData,\n  ab_test_config: abTestConfig,\n  test_variants: variants.length,\n  message: 'A/B test configured for subject line optimization'\n};"
      },
      "id": "email-abtest-001",
      "name": "Setup A/B Test",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "functionCode": "// Track email campaign analytics\nconst emailData = $('Process Email Content').first().json;\nconst sendResult = $json;\n\n// Create analytics entry\nconst analytics = {\n  campaign_id: emailData.processing_id,\n  email_type: emailData.email_type,\n  recipient_email: emailData.recipient_email,\n  subject_line: emailData.selected_subject,\n  send_status: sendResult.id ? 'sent' : 'failed',\n  send_time: new Date().toISOString(),\n  predicted_open_rate: emailData.predicted_open_rate,\n  email_provider: 'resend',\n  provider_message_id: sendResult.id || null,\n  tracking_enabled: true,\n  created_at: new Date().toISOString()\n};\n\n// Calculate follow-up actions\nconst followUpActions = [];\n\nif (emailData.follow_up_sequence) {\n  followUpActions.push({\n    action: 'schedule_follow_up',\n    sequence: emailData.follow_up_sequence,\n    delay: '3_days'\n  });\n}\n\nfollowUpActions.push({\n  action: 'track_engagement',\n  metrics: ['opens', 'clicks', 'conversions'],\n  duration: '7_days'\n});\n\nreturn {\n  success: sendResult.id ? true : false,\n  campaign_id: emailData.processing_id,\n  message_id: sendResult.id,\n  analytics: analytics,\n  follow_up_actions: followUpActions,\n  message: sendResult.id ? 'Email sent successfully' : 'Email send failed',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "email-analytics-001",
      "name": "Track Analytics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "email_analytics",
        "columns": {
          "values": {
            "campaign_id": "={{ $json.analytics.campaign_id }}",
            "email_type": "={{ $json.analytics.email_type }}",
            "recipient_email": "={{ $json.analytics.recipient_email }}",
            "subject_line": "={{ $json.analytics.subject_line }}",
            "send_status": "={{ $json.analytics.send_status }}",
            "send_time": "={{ $json.analytics.send_time }}",
            "predicted_open_rate": "={{ $json.analytics.predicted_open_rate }}",
            "provider_message_id": "={{ $json.analytics.provider_message_id }}",
            "created_at": "={{ $json.analytics.created_at }}"
          }
        }
      },
      "id": "email-store-analytics",
      "name": "Store Analytics",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-main",
          "name": "Supabase Main Database"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "email-response-001",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Email Marketing Request": {
      "main": [
        [
          {
            "node": "Process Email Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email Request": {
      "main": [
        [
          {
            "node": "Generate Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Content": {
      "main": [
        [
          {
            "node": "Process Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email Content": {
      "main": [
        [
          {
            "node": "Store Email Campaign",
            "type": "main",
            "index": 0
          },
          {
            "node": "Setup A/B Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Email Campaign": {
      "main": [
        [
          {
            "node": "Send Immediately?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Immediately?": {
      "main": [
        [
          {
            "node": "Send Email Now",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Now": {
      "main": [
        [
          {
            "node": "Track Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Analytics": {
      "main": [
        [
          {
            "node": "Store Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Analytics": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2025-11-01T00:00:00.000Z",
      "updatedAt": "2025-11-01T00:00:00.000Z",
      "id": "email-agent",
      "name": "Email Marketing Agent"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-01T00:00:00.000Z",
  "versionId": "1"
}