workflows/mcp-ai-agent-server.json
{
  "meta": {
    "instanceId": "mcp-ai-agent-server"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "mcp-server-trigger",
      "name": "MCP Server Trigger",
      "type": "n8n-nodes-langchain.mcptrigger",
      "typeVersion": 1,
      "position": [320, 300],
      "webhookId": "ai-agent-mcp"
    },
    {
      "parameters": {
        "content": "=// 🤖 MCP AI Agent Handler\nconst mcpRequest = $json;\nconst method = mcpRequest.method || 'unknown';\nconst params = mcpRequest.params || {};\n\nconsole.log('🔥 MCP Request received:', { method, params });\n\n// Handle different MCP methods\nlet response = {};\n\nswitch(method) {\n  case 'tools/list':\n    response = {\n      tools: [\n        {\n          name: 'automation_create',\n          description: 'Create a new automation workflow',\n          inputSchema: {\n            type: 'object',\n            properties: {\n              name: { type: 'string', description: 'Workflow name' },\n              description: { type: 'string', description: 'Workflow description' },\n              trigger: { type: 'string', description: 'Trigger type: manual, schedule, webhook' },\n              actions: { type: 'array', description: 'Array of actions to perform' }\n            },\n            required: ['name', 'trigger']\n          }\n        },\n        {\n          name: 'automation_execute',\n          description: 'Execute an existing automation workflow',\n          inputSchema: {\n            type: 'object',\n            properties: {\n              workflowId: { type: 'string', description: 'ID of workflow to execute' },\n              data: { type: 'object', description: 'Input data for the workflow' }\n            },\n            required: ['workflowId']\n          }\n        },\n        {\n          name: 'automation_status',\n          description: 'Get status of automation workflows',\n          inputSchema: {\n            type: 'object',\n            properties: {\n              workflowId: { type: 'string', description: 'Optional specific workflow ID' }\n            }\n          }\n        },\n        {\n          name: 'content_generate',\n          description: 'Generate AI content using automation pipeline',\n          inputSchema: {\n            type: 'object',\n            properties: {\n              topic: { type: 'string', description: 'Content topic' },\n              type: { type: 'string', description: 'Content type: blog, social, email' },\n              tone: { type: 'string', description: 'Content tone: professional, casual, technical' }\n            },\n            required: ['topic', 'type']\n          }\n        }\n      ]\n    };\n    break;\n\n  case 'tools/call':\n    const toolName = params.name;\n    const toolArgs = params.arguments || {};\n    \n    switch(toolName) {\n      case 'automation_create':\n        response = {\n          content: [{\n            type: 'text',\n            text: `Automation workflow \"${toolArgs.name}\" created successfully!\\n\\nDetails:\\n- Name: ${toolArgs.name}\\n- Description: ${toolArgs.description || 'No description'}\\n- Trigger: ${toolArgs.trigger}\\n- Actions: ${toolArgs.actions?.length || 0} actions configured\\n\\nWorkflow ID: auto_${Date.now()}`\n          }]\n        };\n        break;\n        \n      case 'automation_execute':\n        response = {\n          content: [{\n            type: 'text',\n            text: `Executing workflow ${toolArgs.workflowId}...\\n\\nExecution started at: ${new Date().toISOString()}\\nStatus: Running\\nExpected completion: 30 seconds\\n\\nExecution ID: exec_${Date.now()}`\n          }]\n        };\n        break;\n        \n      case 'automation_status':\n        response = {\n          content: [{\n            type: 'text',\n            text: `📊 Automation Status Report\\n\\nActive Workflows: 3\\nTotal Executions Today: 47\\nSuccess Rate: 98.7%\\n\\nRecent Workflows:\\n• 🤖 AI Content Pipeline - Active (Last run: 2 min ago)\\n• 📧 Email Automation - Active (Last run: 15 min ago)\\n• 📱 Social Media Manager - Active (Last run: 1 hour ago)\\n\\nSystem Status: ✅ All systems operational`\n          }]\n        };\n        break;\n        \n      case 'content_generate':\n        const { topic, type, tone } = toolArgs;\n        response = {\n          content: [{\n            type: 'text',\n            text: `🚀 Content Generated Successfully!\\n\\nTopic: ${topic}\\nType: ${type}\\nTone: ${tone || 'professional'}\\n\\nGenerated Content:\\n---\\n${generateSampleContent(topic, type, tone)}\\n---\\n\\nContent ID: content_${Date.now()}\\nWord Count: ${Math.floor(Math.random() * 200) + 100}\\nEstimated Reading Time: ${Math.ceil((Math.floor(Math.random() * 200) + 100) / 200)} min`\n          }]\n        };\n        break;\n        \n      default:\n        response = {\n          error: {\n            code: -32601,\n            message: `Tool '${toolName}' not found`\n          }\n        };\n    }\n    break;\n\n  case 'resources/list':\n    response = {\n      resources: [\n        {\n          uri: 'automation://workflows',\n          name: 'Active Workflows',\n          description: 'List of all active automation workflows',\n          mimeType: 'application/json'\n        },\n        {\n          uri: 'automation://executions',\n          name: 'Recent Executions',\n          description: 'Recent workflow execution logs',\n          mimeType: 'application/json'\n        },\n        {\n          uri: 'automation://analytics',\n          name: 'Analytics Dashboard',\n          description: 'Automation performance analytics',\n          mimeType: 'application/json'\n        }\n      ]\n    };\n    break;\n\n  case 'resources/read':\n    const resourceUri = params.uri;\n    if (resourceUri === 'automation://workflows') {\n      response = {\n        contents: [{\n          uri: resourceUri,\n          mimeType: 'application/json',\n          text: JSON.stringify({\n            workflows: [\n              { id: 'wf1', name: '🤖 AI Content Pipeline', status: 'active', lastRun: '2 min ago' },\n              { id: 'wf2', name: '📧 Email Automation', status: 'active', lastRun: '15 min ago' },\n              { id: 'wf3', name: '📱 Social Media Manager', status: 'active', lastRun: '1 hour ago' }\n            ]\n          }, null, 2)\n        }]\n      };\n    } else {\n      response = {\n        error: {\n          code: -32602,\n          message: `Resource '${resourceUri}' not found`\n        }\n      };\n    }\n    break;\n\n  default:\n    response = {\n      error: {\n        code: -32601,\n        message: `Method '${method}' not implemented`\n      }\n    };\n}\n\n// Helper function to generate sample content\nfunction generateSampleContent(topic, type, tone) {\n  const contents = {\n    blog: `# ${topic}\\n\\nIn today's rapidly evolving landscape, ${topic.toLowerCase()} has become a crucial element for success. This comprehensive guide explores the key aspects and practical applications.\\n\\n## Key Insights\\n- Strategic implementation approaches\\n- Best practices and methodologies\\n- Real-world case studies\\n\\n*Generated with ${tone || 'professional'} tone*`,\n    social: `🚀 Exploring ${topic} - the game-changer we've all been waiting for! \\n\\nKey takeaways:\\n✅ Innovation at its finest\\n✅ Practical applications\\n✅ Future-ready solutions\\n\\n#Innovation #Technology #${topic.replace(/\\s+/g, '')}`,\n    email: `Subject: Important Update on ${topic}\\n\\nHi there!\\n\\nI hope this email finds you well. I wanted to share some exciting insights about ${topic} that could significantly impact our approach.\\n\\nKey highlights:\\n• Emerging trends and opportunities\\n• Actionable strategies\\n• Implementation roadmap\\n\\nLet's discuss this further!\\n\\nBest regards,\\nThe Automation Team`\n  };\n  \n  return contents[type] || `Generated content about ${topic} in ${type} format with ${tone || 'professional'} tone.`;\n}\n\nreturn {\n  json: {\n    mcpMethod: method,\n    mcpParams: params,\n    mcpResponse: response,\n    processedAt: new Date().toISOString(),\n    responseType: response.error ? 'error' : 'success'\n  }\n};",
        "options": {}
      },
      "id": "mcp-handler",
      "name": "MCP Request Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.mcpResponse }}",
        "options": {
          "responseHeaders": {
            "headers": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-MCP-Server",
                "value": "n8n-automation-agent"
              }
            ]
          }
        }
      },
      "id": "mcp-response",
      "name": "MCP Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 300]
    },
    {
      "parameters": {
        "content": "=// 📊 Log MCP Interaction\nconst mcpData = $json;\n\n// Create log entry for analytics\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  method: mcpData.mcpMethod,\n  params: mcpData.mcpParams,\n  responseType: mcpData.responseType,\n  processingTime: Date.now() - new Date(mcpData.processedAt).getTime(),\n  userAgent: $('MCP Server Trigger').item.headers?.['user-agent'] || 'unknown',\n  clientId: $('MCP Server Trigger').item.headers?.['x-client-id'] || 'anonymous'\n};\n\n// Store in database (simulation)\nconsole.log('📊 MCP Analytics:', logEntry);\n\nreturn {\n  json: {\n    ...mcpData,\n    analytics: logEntry,\n    logged: true\n  }\n};",
        "options": {}
      },
      "id": "mcp-analytics",
      "name": "MCP Analytics Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 480]
    }
  ],
  "connections": {
    "MCP Server Trigger": {
      "main": [
        [
          {
            "node": "MCP Request Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Request Handler": {
      "main": [
        [
          {
            "node": "MCP Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "MCP Analytics Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "001",
  "id": "mcp-ai-agent-server",
  "name": "🤖 MCP AI Agent Server"
}