workflows/mcp-client-automation.json
{
  "meta": {
    "instanceId": "mcp-client-automation"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "content": "=// 🎯 MCP Client Demo Setup\n// This workflow demonstrates how to use n8n as MCP client\n\nconst mcpServers = [\n  {\n    name: 'GitHub MCP',\n    url: 'stdio://github-mcp-server',\n    tools: ['create_issue', 'get_repo', 'search_code'],\n    testAction: 'get_repo'\n  },\n  {\n    name: 'File System MCP',\n    url: 'stdio://filesystem-mcp',\n    tools: ['read_file', 'write_file', 'list_directory'],\n    testAction: 'list_directory'\n  },\n  {\n    name: 'Database MCP',\n    url: 'stdio://database-mcp',\n    tools: ['execute_query', 'get_schema'],\n    testAction: 'get_schema'\n  },\n  {\n    name: 'AI Automation MCP',\n    url: 'http://localhost:5678/webhook/mcp-ai-agent',\n    tools: ['automation_create', 'automation_execute', 'content_generate'],\n    testAction: 'automation_status'\n  }\n];\n\n// Select random server for demo\nconst selectedServer = mcpServers[Math.floor(Math.random() * mcpServers.length)];\n\nreturn {\n  json: {\n    selectedServer,\n    allServers: mcpServers,\n    testTimestamp: new Date().toISOString(),\n    action: 'mcp_client_test'\n  }\n};",
        "options": {}
      },
      "id": "mcp-client-setup",
      "name": "MCP Client Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "serverUrl": "={{ $json.selectedServer.url }}",
        "tool": "={{ $json.selectedServer.testAction }}",
        "arguments": {},
        "options": {
          "timeout": 30000
        }
      },
      "id": "mcp-client-tool",
      "name": "MCP Client Tool",
      "type": "n8n-nodes-langchain.toolmcp",
      "typeVersion": 1,
      "position": [760, 300]
    },
    {
      "parameters": {
        "content": "=// 📊 MCP Client Response Handler\nconst clientData = $('MCP Client Setup').first().json;\nconst mcpResponse = $json;\n\n// Process MCP tool response\nlet processedResponse = {\n  server: clientData.selectedServer,\n  requestedAt: clientData.testTimestamp,\n  respondedAt: new Date().toISOString(),\n  success: true,\n  response: mcpResponse\n};\n\n// Handle different response types\nif (mcpResponse.error) {\n  processedResponse.success = false;\n  processedResponse.errorDetails = {\n    code: mcpResponse.error.code,\n    message: mcpResponse.error.message\n  };\n} else {\n  // Parse successful response\n  if (mcpResponse.content && Array.isArray(mcpResponse.content)) {\n    processedResponse.contentCount = mcpResponse.content.length;\n    processedResponse.contentTypes = mcpResponse.content.map(c => c.type);\n  }\n  \n  if (mcpResponse.tools && Array.isArray(mcpResponse.tools)) {\n    processedResponse.availableTools = mcpResponse.tools.map(t => ({\n      name: t.name,\n      description: t.description\n    }));\n  }\n  \n  if (mcpResponse.resources && Array.isArray(mcpResponse.resources)) {\n    processedResponse.availableResources = mcpResponse.resources.map(r => ({\n      uri: r.uri,\n      name: r.name,\n      mimeType: r.mimeType\n    }));\n  }\n}\n\n// Calculate response time\nconst responseTime = new Date(processedResponse.respondedAt).getTime() - new Date(processedResponse.requestedAt).getTime();\nprocessedResponse.responseTimeMs = responseTime;\n\nreturn {\n  json: {\n    ...processedResponse,\n    summary: {\n      serverName: clientData.selectedServer.name,\n      toolUsed: clientData.selectedServer.testAction,\n      success: processedResponse.success,\n      responseTime: `${responseTime}ms`,\n      timestamp: new Date().toISOString()\n    }\n  }\n};",
        "options": {}
      },
      "id": "mcp-response-handler",
      "name": "MCP Response Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "content": "=// 🔄 Advanced MCP Client Operations\nconst responseData = $json;\n\n// Demonstrate chaining multiple MCP calls\nconst chainedOperations = [];\n\n// If we successfully connected to a server, try additional operations\nif (responseData.success) {\n  const server = responseData.server;\n  \n  // Suggest follow-up operations based on server type\n  switch(server.name) {\n    case 'GitHub MCP':\n      chainedOperations.push(\n        { operation: 'search_code', args: { query: 'automation' } },\n        { operation: 'get_repo', args: { owner: 'n8n-io', repo: 'n8n' } }\n      );\n      break;\n      \n    case 'File System MCP':\n      chainedOperations.push(\n        { operation: 'read_file', args: { path: '/README.md' } },\n        { operation: 'list_directory', args: { path: '/' } }\n      );\n      break;\n      \n    case 'Database MCP':\n      chainedOperations.push(\n        { operation: 'get_tables', args: {} },\n        { operation: 'execute_query', args: { query: 'SELECT COUNT(*) FROM users;' } }\n      );\n      break;\n      \n    case 'AI Automation MCP':\n      chainedOperations.push(\n        { operation: 'content_generate', args: { topic: 'MCP Integration Success', type: 'blog', tone: 'professional' } },\n        { operation: 'automation_create', args: { name: 'MCP Demo Workflow', trigger: 'webhook', description: 'Created via MCP client' } }\n      );\n      break;\n  }\n}\n\nreturn {\n  json: {\n    ...responseData,\n    chainedOperations,\n    demonstrationComplete: true,\n    nextSteps: [\n      'Implement error handling for MCP connections',\n      'Add authentication for secure MCP servers',\n      'Create MCP server discovery mechanism',\n      'Build MCP analytics dashboard',\n      'Set up MCP server health monitoring'\n    ],\n    mcpIntegrationStatus: 'success',\n    completedAt: new Date().toISOString()\n  }\n};",
        "options": {}
      },
      "id": "mcp-advanced-ops",
      "name": "MCP Advanced Operations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "MCP Client Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Setup": {
      "main": [
        [
          {
            "node": "MCP Client Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Tool": {
      "main": [
        [
          {
            "node": "MCP Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Response Handler": {
      "main": [
        [
          {
            "node": "MCP Advanced Operations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "001",
  "id": "mcp-client-automation",
  "name": "🔗 MCP Client Automation"
}