workflows/social-media-manager-agent.json
{
  "name": "Social Media Manager Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-media-manager",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "social-webhook-001",
      "name": "Social Media Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "social-media-manager-agent"
    },
    {
      "parameters": {
        "functionCode": "// Process social media automation request\nconst requestData = $json.body || $json;\n\n// Validate required fields\nif (!requestData.source_content && !requestData.content_id) {\n  throw new Error('Missing source_content or content_id');\n}\n\n// Default configuration\nconst socialRequest = {\n  content_id: requestData.content_id,\n  source_content: requestData.source_content || '',\n  platforms: requestData.platforms || ['twitter', 'linkedin', 'facebook'],\n  post_type: requestData.post_type || 'text',\n  target_engagement: requestData.target_engagement || 100,\n  schedule_time: requestData.schedule_time || 'optimal',\n  user_id: requestData.user_id || 'system',\n  timestamp: new Date().toISOString(),\n  processing_id: `social_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`\n};\n\n// If content_id provided, fetch from database\nif (socialRequest.content_id && !socialRequest.source_content) {\n  socialRequest.fetch_content = true;\n}\n\nreturn socialRequest;"
      },
      "id": "social-process-001",
      "name": "Process Social Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fetch_content }}",
              "value2": true
            }
          ]
        }
      },
      "id": "social-condition-001",
      "name": "Need Content Fetch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "content_queue",
        "where": {
          "conditions": [
            {
              "column": "id",
              "condition": "equals",
              "value": "={{ $json.content_id }}"
            }
          ]
        }
      },
      "id": "social-fetch-001",
      "name": "Fetch Content",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-main",
          "name": "Supabase Main Database"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Merge fetched content with request\nconst originalRequest = $('Process Social Request').first().json;\nconst fetchedContent = $json[0]; // First result from database\n\nif (!fetchedContent) {\n  throw new Error(`Content not found for ID: ${originalRequest.content_id}`);\n}\n\nreturn {\n  ...originalRequest,\n  source_content: fetchedContent.title + '\\n\\n' + fetchedContent.content,\n  content_metadata: JSON.parse(fetchedContent.metadata || '{}'),\n  content_type: fetchedContent.type,\n  fetch_content: false\n};"
      },
      "id": "social-merge-001",
      "name": "Merge Content Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a social media expert who creates engaging posts optimized for each platform. Create platform-specific content that maximizes engagement while maintaining brand voice."
            },
            {
              "role": "user",
              "content": "Create social media posts for the following platforms: {{ $json.platforms.join(', ') }}\n\nSource Content: {{ $json.source_content }}\nPost Type: {{ $json.post_type }}\nTarget Engagement: {{ $json.target_engagement }}\n\nFor each platform, create:\n1. Optimized post content\n2. Relevant hashtags\n3. Call-to-action\n4. Best posting time suggestion\n\nPlatform-specific requirements:\n- Twitter: 280 characters max, trending hashtags\n- LinkedIn: Professional tone, industry insights\n- Facebook: Engaging questions, community focus\n- Instagram: Visual-first, lifestyle hashtags\n\nReturn as JSON with platform-specific posts."
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 1500
        }
      },
      "id": "social-ai-001",
      "name": "Generate Social Posts",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [900, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai-social-gen",
          "name": "OpenAI Social Generation"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Process AI-generated social media posts\nconst aiResponse = $json.response || $json.message?.content || $json;\nconst originalRequest = $('Process Social Request').first().json;\n\nlet socialPosts = [];\n\ntry {\n  // Try to parse JSON response\n  const parsedResponse = JSON.parse(aiResponse);\n  socialPosts = parsedResponse.posts || parsedResponse;\n} catch (error) {\n  // Fallback: parse text response\n  const platforms = originalRequest.platforms;\n  const postSections = aiResponse.split(/(?:Twitter|LinkedIn|Facebook|Instagram):/i);\n  \n  platforms.forEach((platform, index) => {\n    if (postSections[index + 1]) {\n      const content = postSections[index + 1].trim();\n      const lines = content.split('\\n').filter(line => line.trim());\n      \n      socialPosts.push({\n        platform: platform,\n        content: lines[0] || content.substring(0, 280),\n        hashtags: lines.find(line => line.includes('#'))?.split(' ').filter(tag => tag.startsWith('#')) || [],\n        call_to_action: lines.find(line => line.toLowerCase().includes('action')) || 'Learn more',\n        optimal_time: '09:00'\n      });\n    }\n  });\n}\n\n// Ensure we have posts for all requested platforms\noriginalRequest.platforms.forEach(platform => {\n  if (!socialPosts.find(post => post.platform === platform)) {\n    // Create default post for missing platforms\n    const baseContent = originalRequest.source_content.substring(0, 200);\n    socialPosts.push({\n      platform: platform,\n      content: `${baseContent}... #${platform} #automation`,\n      hashtags: [`#${platform}`, '#automation', '#ai'],\n      call_to_action: 'Learn more',\n      optimal_time: '09:00'\n    });\n  }\n});\n\n// Calculate optimal posting times based on platform\nconst optimalTimes = {\n  twitter: ['09:00', '12:00', '17:00'],\n  linkedin: ['08:00', '11:00', '14:00'],\n  facebook: ['09:00', '13:00', '15:00'],\n  instagram: ['08:00', '11:00', '19:00']\n};\n\n// Enhance posts with platform-specific optimizations\nsocialPosts = socialPosts.map(post => {\n  const times = optimalTimes[post.platform] || ['09:00'];\n  return {\n    ...post,\n    optimal_time: times[Math.floor(Math.random() * times.length)],\n    character_count: post.content.length,\n    estimated_engagement: Math.floor(originalRequest.target_engagement * (0.8 + Math.random() * 0.4)),\n    processing_id: originalRequest.processing_id,\n    created_at: new Date().toISOString(),\n    status: 'ready'\n  };\n});\n\nreturn {\n  processing_id: originalRequest.processing_id,\n  platforms: originalRequest.platforms,\n  posts: socialPosts,\n  total_posts: socialPosts.length,\n  estimated_reach: socialPosts.reduce((sum, post) => sum + post.estimated_engagement, 0),\n  user_id: originalRequest.user_id,\n  generated_at: new Date().toISOString()\n};"
      },
      "id": "social-process-002",
      "name": "Process Social Posts",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "social-split-001",
      "name": "Split Posts",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "social_media_queue",
        "columns": {
          "values": {
            "id": "={{ $json.posts[$itemIndex].processing_id }}_{{ $json.posts[$itemIndex].platform }}",
            "platform": "={{ $json.posts[$itemIndex].platform }}",
            "content": "={{ $json.posts[$itemIndex].content }}",
            "hashtags": "={{ JSON.stringify($json.posts[$itemIndex].hashtags) }}",
            "call_to_action": "={{ $json.posts[$itemIndex].call_to_action }}",
            "optimal_time": "={{ $json.posts[$itemIndex].optimal_time }}",
            "estimated_engagement": "={{ $json.posts[$itemIndex].estimated_engagement }}",
            "status": "scheduled",
            "created_at": "={{ $json.posts[$itemIndex].created_at }}",
            "created_by": "social-media-agent"
          }
        }
      },
      "id": "social-store-001",
      "name": "Store Social Posts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-main",
          "name": "Supabase Main Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.posts[$itemIndex].platform }}",
              "operation": "equals",
              "value2": "twitter"
            }
          ]
        }
      },
      "id": "social-twitter-check",
      "name": "Is Twitter Post",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "text": "={{ $json.posts[$itemIndex].content }}",
        "additionalFields": {}
      },
      "id": "social-twitter-post",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [1780, 120],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "twitter-api",
          "name": "Twitter API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.posts[$itemIndex].platform }}",
              "operation": "equals",
              "value2": "linkedin"
            }
          ]
        }
      },
      "id": "social-linkedin-check",
      "name": "Is LinkedIn Post",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 280]
    },
    {
      "parameters": {
        "postAs": "person",
        "text": "={{ $json.posts[$itemIndex].content }}"
      },
      "id": "social-linkedin-post",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [2000, 280],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-api",
          "name": "LinkedIn API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Aggregate results and create summary\nconst allResults = $input.all();\nconst originalData = $('Process Social Posts').first().json;\n\nconst summary = {\n  processing_id: originalData.processing_id,\n  total_posts_created: allResults.length,\n  platforms_processed: [...new Set(allResults.map(item => item.json.posts?.[0]?.platform).filter(Boolean))],\n  posts_scheduled: allResults.filter(item => item.json.status === 'scheduled').length,\n  posts_published: allResults.filter(item => item.json.id || item.json.post_id).length,\n  estimated_total_reach: originalData.estimated_reach,\n  success: true,\n  message: `Social media automation completed for ${originalData.platforms.length} platforms`,\n  timestamp: new Date().toISOString(),\n  next_actions: [\n    'Monitor engagement metrics',\n    'Schedule follow-up posts',\n    'Analyze performance data'\n  ]\n};\n\nreturn summary;"
      },
      "id": "social-summary-001",
      "name": "Create Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "social-response-001",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 400]
    }
  ],
  "connections": {
    "Social Media Request": {
      "main": [
        [
          {
            "node": "Process Social Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Social Request": {
      "main": [
        [
          {
            "node": "Need Content Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Content Fetch": {
      "main": [
        [
          {
            "node": "Fetch Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Content": {
      "main": [
        [
          {
            "node": "Merge Content Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Content Data": {
      "main": [
        [
          {
            "node": "Generate Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Social Posts": {
      "main": [
        [
          {
            "node": "Process Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Social Posts": {
      "main": [
        [
          {
            "node": "Split Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Posts": {
      "main": [
        [
          {
            "node": "Store Social Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Twitter Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Social Posts": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Twitter Post": {
      "main": [
        [
          {
            "node": "Post to Twitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Twitter": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is LinkedIn Post": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2025-11-01T00:00:00.000Z",
      "updatedAt": "2025-11-01T00:00:00.000Z",
      "id": "social-agent",
      "name": "Social Media Agent"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-01T00:00:00.000Z",
  "versionId": "1"
}